<div data-ng-controller="asmListController">
    <a href="#" data-ng-click="showTransferRolesKendoDiaglog(alarmId)">Transfer Roles...</a>

    <div id="alarmTransferRoles" kendo-dialog="alarmTransferRolesKendoDiaglog" k-title="'Transfer Roles...'" k-on-open="dialogVisible = true"
         k-on-close="dialogVisible = false" k-width="435"
         k-actions="alarmTransferRoles" k-modal="true" k-visible="false">
        <form id="alarmTransferRolesForm" kendo-validator="validators.alarmTransfer">
            <ul class="review_listing">
                <li>
                    <div class="control-label">Applicant</div>
                    <select kendo-drop-down-list
                            class="dd_avatar txt"
                            k-options="newApplicantOptions"
                            k-ng-model="applicantToTransfer"></select>
                </li>
                <li data-ng-show="pendingReview">
                    <div class="control-label">Reviewer</div>
                    <select kendo-drop-down-list
                            id="transfer-review"
                            class="dd_avatar txt"
                            k-options="reviewerForTransferOptions"
                            k-ng-model="reviewerToTransfer"></select>
                </li>
                <li data-ng-show="pendingEndorse">
                    <div class="control-label">Endorser</div>
                    <select kendo-drop-down-list
                            class="dd_avatar txt"
                            k-options="endorserOptions"
                            k-ng-model="endorserToTransfer"></select>
                </li>
                <li data-ng-show="pendingApprove">
                    <div class="control-label">Approver</div>
                    <select kendo-drop-down-list
                            class="dd_avatar txt"
                            data-required-msg="Approver is required"
                            k-options="approverOptions"
                            k-ng-model="approverToTransfer"></select>
                </li>
                <li data-ng-show="pendingMocApprove">
                    <div class="control-label">MOC Approver</div>
                    <select kendo-drop-down-list
                            class="dd_avatar txt"
                            data-required-msg="MOC Approver is required"
                            k-options="mocApproverOptions"
                            k-ng-model="mocApproverToTransfer"></select>
                </li>
                <li>
                    <div class="control-label">
                        Comment <span>(optional)</span>
                    </div>
                    <textarea rows="5" class="k-editor-textarea txt" data-ng-model="adminComment" maxlength="2000"></textarea>
                </li>
            </ul>
        </form>
    </div>
    <div id="transferResultForm" kendo-dialog="transferResultDialog" k-title="'ASM Roles Transferred'" k-on-open="dialogVisible = true"
         k-on-close="dialogVisible = false" k-width="435"
         k-actions="transferResultActions" k-modal="true" k-visible="false">
        <p>The following ASM roles are now transferred and the new person in charge is notified.</p>
        <ul class="review_listing">
            <li data-ng-show="applicantIsTransfered">
                <div class="control-label">New Applicant</div>
                <p class="text_avatar k-state-default">
                    <img data-ng-src="data:image/jpeg;base64,{{applicantToTransfer.image}}" alt="{{applicantToTransfer.userName}}" />
                    <a data-ng-href="/profile/{{applicantToTransfer.userProfileId}}" data-ng-bind="applicantToTransfer.userName"></a>
                </p>
            </li>
            <li data-ng-show="reviewerIsTransfered">
                <div class="control-label">New Reviewer</div>
                <p class="text_avatar">
                    <img data-ng-src="data:image/jpeg;base64,{{reviewerToTransfer.image}}" alt="{{reviewerToTransfer.userName}}" />
                    <a data-ng-href="/profile/{{reviewerToTransfer.userProfileId}}" data-ng-bind="reviewerToTransfer.userName"></a>
                </p>
            </li>
            <li data-ng-show="endorserIsTransfered">
                <div class="control-label">New Endorser</div>
                <p class="text_avatar">
                    <img data-ng-src="data:image/jpeg;base64,{{endorserToTransfer.image}}" alt="{{endorserToTransfer.userName}}" />
                    <a data-ng-href="/profile/{{endorserToTransfer.userProfileId}}" data-ng-bind="endorserToTransfer.userName"></a>
                </p>
            </li>
            <li data-ng-show="approverIsTransfered">
                <div class="control-label">New Approver</div>
                <p class="text_avatar">
                    <img data-ng-src="data:image/jpeg;base64,{{approverToTransfer.image}}" alt="{{approverToTransfer.userName}}" />
                    <a data-ng-href="/profile/{{approverToTransfer.userProfileId}}" data-ng-bind="approverToTransfer.userName"></a>
                </p>
            </li>
            <li data-ng-show="mocApproverIsTransfered">
                <div class="control-label">New MOC Approver</div>
                <p class="text_avatar">
                    <img data-ng-src="data:image/jpeg;base64,{{mocApproverToTransfer.image}}" alt="{{mocApproverToTransfer.userName}}" />
                    <a data-ng-href="/profile/{{mocApproverToTransfer.userProfileId}}" data-ng-bind="mocApproverToTransfer.userName"></a>
                </p>
            </li>
        </ul>
    </div>
</div>
